# used for deploy
init.author.name = name
init.author.email = name@amdocs.com
init.author.url = http://blog.example.com
email=name@amdocs.com
_auth=ZGVwbG95bWVudDpkZXBsb3ltZW50MTIz
# nexus private repository
registry = http://illin3273:28080/nexus/content/groups/npm_poc_repo_group/
#registry=https://registry.npmjs.org/
#define proxy for git
https-proxy=http://genproxy.amdocs.com:8080/
http-proxy=
proxy=null